.main-slider-container{
    width:-webkit-fill-available;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    margin: 1.125rem;
}

.slider{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background: rgba(242, 236, 236, 0.097);
    /* text-align: start; */
}

.slider-cw{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background: rgba(242, 236, 236, 0.097);
    /* text-align: start;    */
    display: flex;
}

.slider-cw::-webkit-scrollbar{
    display: none;
}

.slider::-webkit-scrollbar{
    display: none;
}

.img-scroll-arrow{
    width: 3vh;
}

.slider-icon.left, .slider-icon.right {
    position: inherit;
    opacity: 0.5;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
    cursor: pointer;
    height: 10vh;
}

.slider-icon.left{
    left: 0;
    color: white;
    background: white;
}

.slider-icon.right{
    right: 0;
    color: white;
    background: white;
}

.slider-icon.left:hover, .slider-icon.right:hover{
    opacity: 1;
}



