.V-main-slider-container{
    width:-webkit-fill-available;
    position: relative;
    display: flex;
    align-items: center;
    margin: 1.125rem;
    flex-direction: column;
    height:88vh;
}

.V-slider{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background: rgba(242, 236, 236, 0.097);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-top: 2rem;
}

.V-slider::-webkit-scrollbar{
    display: none;
}

.V-img-scroll-arrow{
    width: 3vh;
}

.V-slider-icon.left, .V-slider-icon.right {
    position: inherit;
    opacity: 0.5;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
    cursor: pointer;
    /* height: 10vh; */
}

.V-slider-icon.left{
    left: 0;
    color: white;
    background: white;
    width: -webkit-fill-available;
    height: 1rem;
}

.V-slider-icon.right{
    right: 0;
    color: white;
    background: white;
    width: -webkit-fill-available;
    height: 1rem;
}

.V-slider-icon.left:hover, .slider-icon.right:hover{
    opacity: 1;
}



