.page-container-history{
    height: 100vh;
    padding: 0;
    transition: 1s;
}

.page-data-display-history{
    display: flex;
    flex-direction: column;
    width: auto;
    height: -webkit-fill-available;
    padding: 0;
}

.like-page-header-history{
    width: -webkit-fill-available;
    height: 15rem;
    background: var(--BG_GRADIENT_L2);
    position: relative;
    display: flex;
}

.like-page-round-circle-history{
    width: 10rem;
    height: 10rem;
    background: var(--BG_GRADIENT_L2);
    position: absolute;
    bottom: -5rem;
    border-radius: 999px;
    left: 2rem;
    object-fit: fill;
    transition: 1s;
}

.playlist-addbutton{
    background: #1f80e0;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin: 0 10px;
    position: absolute;
    bottom: -1rem;
    right: 2rem;
    object-fit: fill;
    transition: 1s; 
    cursor: pointer;
}

.like-page-title-history{
    background: transparent;
    position: absolute;
    bottom: 0rem;
    left: 13rem;
    font-size: 1.5rem;
    text-decoration:overline;
    font-weight: 800;
    text-transform: uppercase;
    transition: 1s;
}

.like-page-body-history{
    display: flex;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.like-page-card-grid-history{
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    background: transparent;
    padding-top: 2rem;
    padding-bottom:2rem ;
}


@media (max-width: 800px) {
    .page-container-history{
        height:100vh;

    }
    .page-data-display-history{
        flex-direction: column;
        width: -webkit-fill-available;
        height: 100vh;
    }

    .like-page-round-circle-history{
        width: 6rem;
        height: 6rem;
        background: var(--BG_GRADIENT_L2);
        position: absolute;
        bottom: -3rem;
        border-radius: 999px;
        left: 2rem;
        object-fit: fill;
        transition: 1s;
    }

    .stack-padding{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .like-page-card-grid-history{
        grid-template-columns: 1fr;
    }

    .playlist-addbutton{
        background: #1f80e0;
        height: 30px;
        padding: 0 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .like-page-card-grid-history{
        grid-template-columns: 1fr;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 766px) {
    .like-page-card-grid-history{
        grid-template-columns: 1fr;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .like-page-card-grid-history{
        grid-template-columns: 1fr;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .like-page-card-grid-history{
        grid-template-columns: 1fr;
    }
}
