
.video-card-title, .video-card-description{
    margin: 0px 0px 0.313rem 0.625rem;
}

.text-cross{
    color: var(--heighlight-color-red);
}

.video-card-title{
    font-weight: 500;
    white-space: pre-wrap;
    font-size: 0.625rem;
    padding: 0.5rem;
    background: transparent;
    color: var(--TEXT_COLOR_L0);
}

.video-card-description{
    opacity: 0.5;
    font-size: 0.625rem;
    background: var(--TEXT_COLOR_L0);
    color: var(--HEADER_COLOR);
}

.video-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--TEXT_COLOR_L0);
    row-gap: 0.5rem;
    white-space: break-spaces;
}

.video-card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.video-card{
    width: 10.625rem;
    height: 15rem;
    padding: 0.1rem;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 5px 5px 1.25rem 0px rgb(0 0 0 / 10%);
    position: relative;
    background: var(--BG_GRADIENT_L2);
    transition: transform .3s; 
}



.video-card:hover{
   background: var(--BG_COLOR_L1);
   transition: transform .3s;
   -ms-transform: scale(1.1);
   -webkit-transform: scale(1.1);  
   transform: scale(1.1);
   z-index: 2;
}

.video-card-bottom{
    position: absolute;
    right: 0.5rem;
}

.video-more{
    display: flex;
    justify-content: flex-end;
    background: transparent;
    z-index: 1;
}

.dropdown-video-more{
    display: none;
    position: absolute;
    color: white;
    background: rgba(9, 9, 9, 0.618);
    width: max-content;
    /**/
    box-shadow: 0px 8px 16px 0px rgba(63, 62, 62, 0.434);
    z-index: 2;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-top: 0.1rem;
    padding: 0.5rem; 
    top: 0;
    font-size: 0.7rem;
    right: -0.5rem;
}

.video-more:hover  .dropdown-video-more{
    display: flex;
}

.video-label-hover:hover{
   color: var(--TEXT_COLOR_L0);
   
   cursor: pointer;
}

/*video list page*/
.videolist-img{
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.videolist-card{
    width: 15.625rem;
    height: auto;
    padding: 0.1rem;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 5px 5px 1.25rem 0px rgb(0 0 0 / 10%);
    position: relative;
    background: var(--BG_GRADIENT_L2);
    transition: transform .3s;
}

.videolist-card:hover{
    background: var(--BG_COLOR_L1);
    transition: transform .3s;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);  
    transform: scale(1.1);
    z-index: 2;
 }

.videolist-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--BG_GRADIENT_L2);
    white-space: break-spaces;
    column-gap: 0.5rem;
    padding: 0.5rem;
  
    align-items: center;
}

.videolist-smallimg{
    width: 1.5rem;
    height: 1.5rem;
    background: var(--BRAND_BLUE);
}

.videolist-button-more{
    /* color: var(--BRAND_BLUE); */
    color: white;
    font-size: 1rem;
    background: transparent;
}

/*playlist-container*/
.playlist-container{
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}

.playlist-name{
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    color: #1548d5;
    text-shadow: 2px 2px #171414;
    font-weight: 900;
    font-size: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(63, 62, 62, 0.434);
}


.palylist-icon-delete{
    padding-top: 1rem;
    z-index: 3;
}

.card-uploaded-date{
    position: absolute;
    z-index: 2;
    bottom: 2rem;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    background: transparent;
    padding: 0.5rem;
}

.temp-card::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    /* width: 20%; */
    z-index: 2;
    border-bottom: 5px outset var(--BRAND_BLUE);
}



